header {
  padding: 25px 8.7% 25px 8.3%;
}

.header-buttons {
  gap: 50px;
}

.header-btn {
  background: transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.apply-btn {
  width: 200px;
  height: 50px;
  background: #0154d4;
  border-radius: 10px;
  color: white;
}

.section1 {
  padding: 48px 12.3% 0 16.9%;
}

.left-text {
  padding: 117px 0 247px 0;
  /* margin-right: 26.6%; */
  z-index: 9999;
}

.section1-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 70px;
  margin-bottom: 10px;
}

.section1-subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 30px;
}

.section1-btns {
  gap: 1.4%;
}

.hire-btn {
  width: 200px;
  height: 50px;
  background: #f4f4f4;
  border-radius: 10px;
  gap: 10px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #0154d4;
}

.walking-man-img {
  width: 455px;
  height: 652px;
}

.section2 {
  padding: 100px 0 0 16.8%;
  background-color: #0154d4;
  height: 800px;
}

.carousel-active-text-part {
  width: 42%;
  height: 281px;
  margin: 0 8.5% 69px 0;
}

.carousel-active-summary {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  margin-bottom: 30px;
}

.carousel-active-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;
  margin-bottom: 10px;
}

.carousel-active-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.5);
}

.carousel-active-link:hover {
  color: rgba(255, 255, 255, 0.5);
}

.upper-part input {
  width: fit-content;
}

.radio-carousel {
  gap: 1.25%;
}

.carousel-active-stat1 {
  width: 20%;
  height: 160px;
  margin: 50px 3.3% 140px 0;
}

.stat-number {
  font-weight: 900;
  font-size: 47px;
  line-height: 77px;
  color: #ffffff;
  text-align: center;
}

.stat-summary {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.lower-part {
  height: 350px;
}

.carousel-active-stat2 {
  width: 20%;
  margin-top: 50px;
  margin-right: 4%;
}

.carousel-index1 {
  background-color: #0147b4;
  width: 29.2%;
  padding: 83px 5%;
}

.carousel-index2 {
  background-color: #e0e0e0;
  width: 29.2%;
  padding: 83px 5%;
}

.carousel-index3 {
  background-color: #f2f2f2;
  width: 41.7%;
  padding: 83px 16.7% 83px 5%;
}

.index-summary {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.white-font {
  color: #ffffff;
}

.lower-part button {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  opacity: 0.45;
  background-color: transparent;
  width: fit-content;
}

input[type="radio"] {
  color: #ffffff;
}

input[type="radio"]:checked {
  accent-color: #0147b4;
}

.section4 {
  background-color: #f2f2f2;
  padding: 140px 15.3% 137px 16.7%;
  gap: 61px;
}

.about-us {
  display: grid;
  row-gap: 50px;
  column-gap: 100px;
  grid-template-columns: 1fr 1fr 1fr;
}

.about-us-num {
  font-weight: 900;
  font-size: 48px;
  line-height: 36px;
  color: #0154d4;
  margin-bottom: 10px;
}

.about-us-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

.section3 {
  padding: 75px 0;
  gap: 50px;
}

.section3-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.card {
  background: #ffffff;
  box-shadow: 0px 5px 40px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.upper-part {
  gap: 12px;
  margin-bottom: 30px;
}

.company-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 2px;
}

.company-location {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #bdbdbd;
}

.vacancy-position {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 33px;
}

.vacancy-hours {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
  margin-bottom: 8px;
}

.vacancy-summary {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #bdbdbd;
  margin-bottom: 28px;
}

.vacancy-salary {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 36px;
}

.grey-span {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #bdbdbd;
}

.vacancy-button {
  background: #0154d4;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.show-more-button {
  background: #ffffff;
  border: 1.5px solid #0154d4;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #0154d4;
}

footer .top {
  padding: 33px 8.3%;
  background: #000000;
}

.sign-to-mailing-list {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin-bottom: 15px;
  text-align: right;
}

.footer-container {
  border: 1px solid grey;
  width: 472px;
  height: 50px;
  background: #ffffff;
  border-radius: 10px;
  padding: 5px;
}

.footer-input {
  flex-grow: 2;
  border: none;
  padding-left: 20px;
}

.footer-input:focus {
  outline: none;
}

.footer-container:focus-within {
  outline: 1px solid blue;
}

.footer-submit-button {
  width: 160px;
  height: 40px;
  background: #0154d4;
  border-radius: 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}

footer .middle {
  padding: 50px 25% 50px 8.3%;
  background: #000000;
}

.footer-buttons {
  gap: 50px;
}

footer .bottom {
  padding: 30px 8.3%;
  background: #272727;
}

.rights-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.sm-buttons {
  gap: 10px;
}

.sm-buttons button {
  border-radius: 100%;
}

.section-title {
  background-color: #f2f2f2;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #bdbdbd;
  padding: 71px 8.3%;
}

.last-vacancy-body {
  padding: 100px 12.2%;
  gap: 30px;
}

.last-vacancy-grid-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #0154d4;
  margin-right: 10px;
}

.last-vacancy-grid {
  display: grid;
  row-gap: 30px;
  column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.vacancy-page-button {
  margin-top: 20px;
}

.cv-questionnary {
  display: grid;
  row-gap: 20px;
  column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}

.cv-add {
  padding: 100px 33.7% 100px 12.2%;
}

.cv-description {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin: 0 12.5% 30px 0;
}

.question-title {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 5px;
}

.question-input {
  width: 240px;
  height: 32px;
  background: #ffffff;
  border: 1px solid #828282;
  border-radius: 5px;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  padding: 10px;
}

input::placeholder {
  color: #bebebe;
}

select {
  color: #000000;
}

option {
  color: #000000;
}
